:root {
 /* --background: #0a0a0a;
  --foreground: #ededed; */
  background-image: linear-gradient(155deg,rgb(0, 0, 0),rgb(0, 0, 0),rgb(20, 20, 20),rgb(20,20,20),rgb(20,20,20),rgb(83, 33, 5),rgb(20,20,20),rgb(20, 20, 20),rgb(20, 20, 20));
}

@media (prefers-color-scheme: dark) {
  :root {
   /* --background: #0a0a0a;
    --foreground: #ededed;*/
    background-image: linear-gradient(155deg,rgb(0, 0, 0),rgb(0, 0, 0),rgb(20, 20, 20),rgb(20,20,20),rgb(20,20,20),rgb(83, 33, 5),rgb(20,20,20),rgb(20, 20, 20),rgb(20, 20, 20));
  }
}

@font-face {
  font-family:'Milanello';
  src: url('../pages/fonts/Milanello.woff');
}
@font-face {
  font-family:'Cinematografica';
  src: url('../pages/fonts/Cinematografica.ttf');
}

html{
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3 {
  font-family: 'Milanello';
  color: white;
}

p{
  font-family: "Cairo", sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 10%;
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

.navbar a {
  font-family: 'Milanello';
  font-weight: 400;
  font-size: 36px;
}

.banner img {
  filter: brightness(50%);
}

.banner h1 {
  color: white;
  font-family: 'Cinematografica';
  font-size: 200px;
  font-weight: 400;
  line-height: 146.77px;
  letter-spacing: 0.11em;
  text-align: end;
}
.banner span {
  font-size: 140px;
}

.banner p {
  color: white;
  font-size: 28px;
  text-align: end;
  padding: 10px 0;
}

.iconesTerror {
  font-size: 50px;
  padding: 50px 0 50px;
  font-family: 'Milanello';
  margin-top: 20%;
}

.villainList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 40px 0;
}

.villainCard {
  font-family: 'Milanello';
  font-size: 25px;
  background: transparent;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px 0;
  padding: 16px;
  width: 100%;
}

.villainCard:hover,
.villainCard.selected {
  background: white;
  color: black;
}

.villainContent {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around
}

.villainContent p {
  font-size: 40px;
  padding-right: 10px;
}

.villainContent h2 {
  font-size: 45px;
  font-family: 'Milanello', Milanello;
  padding: 40px 0;
}
.villainContent img {
  /* width: 30%; */
  max-height: 500px;
  margin-right: 5%;
  height: auto;
}

.Compra {
  margin-left: 5%;
  margin-top: 20%;
  white-space: nowrap;
  font-family: 'Milanello', Milanello;
}
.Compra h1{
  font-size: 55px;
}

input::placeholder {
  color: #ededed;
  font-size: 200%;
  text-align: left;
  text-transform: uppercase;
}

input[type=text]{
  display: block;
  width: 50%;
  margin: 0%;
  margin-top: 2%;
  margin-left: 0%;
  font-family: 'Milanello', Milanello;
  font-size: medium;
  padding: 2%;
  border: 1px;
  border-radius: 10px;
  border-color: #000000;
  background-color: #D45827;
}

.enviar{
  margin-top: 5%;
  margin-right: 0%;
  margin-left: 5%;
  border-radius: 10px;
  border-color: #D45827;
  border-width: 3px;
  font-family: 'Milanello', Milanello;
  padding: 1%;
  padding-left: 15%;
  padding-right: 15%;
  text-align: center;
  border-style: solid;
  background-color: #000000;
  color: #D45827;
}

.Caveira {
  margin-top: -35%;
  margin-left: 5%;
  margin-bottom: 20%;
  }


.footerImage {
  filter: brightness(0) invert(1);

}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 25px 10%;
  }
  .navbar a{
    font-size: 15px;
  }

  h1, h2 {
    font-size: 30px !important;
    text-align: center;
  }

  .villainList{
    font-size: 15px;
    justify-content: center;
    align-items: center;
  }
  .villainCard{
    font-size: 15px;
    padding: 10px;
  }
  .villainContent {
    flex-direction: column;
  }
  .villainContent p {
    font-size: 20px;
    text-align: center;
    padding: 10px;
  }
  .villainContent img{
    margin: 10px 0 20px 0;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5%;
  width: 100%;
  max-width: 1200px;
  margin-top: 20%;
  margin: 0 auto;
}

.image-grid img {
  width: 110%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  margin-top: -25%;
  margin-bottom: 10%;

  &:hover {
    transform: scale(1.1);
  }
}

.tituloCartazes {
  text-align: left;
  margin-bottom: 8%;
  margin-left: 15%;
  font-size: 40px;
  font-weight: bold;
}